<h1>Boards</h1>
<hr />
<div class="ui secondary menu">
  <%= link_to "Create New Board", new_board_path, class: "item" %>
</div>
<hr />
<div class="ui list">
  <% @boards.each do |board| %>
    <div class="item">
      <%= link_to "#{board.title}", board_path(board) %>
    </div>
  <% end %>
</div>
